<!-- your html code here -->
<div class="container mx-auto p-2">
    <hr>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="container d-flex">
                <h2 class="pe-2">This First Heading</h2>
                <h2 class="text-secondary">Will Catch Your Eye</h2>
            </div>
            <div class="container">
                <p class="fw-lighter">Es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impreso</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="container-img ratio ratio-1x1 mx-auto">
                <img class="img-fluid rounded-circle" src="./assets/img/1.jpg" alt="Walter White">
            </div>
        </div>
    </div>
    <hr>
</div>
